body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
    transition: background 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    background: #343a40;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #17a2b8;
}

.responsive {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.carousel img {
    border-radius: 10px;
}

.redes-sociales {
    text-align: center;
    padding: 10px;
}

.redes-sociales a {
    font-size: 24px;
    margin: 0 10px;
    color: #007bff;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: #ff6f61;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    margin-top: 20px;
}
